* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
  .header-wrapper {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
  }
  .nav-wrapper {
    margin-top: 30px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    background-color: lightblue;
    .breadcrumb {
      margin: 0;
      a {
        text-decoration: none;
      }
    }
  }
  .cards-wrapper {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-pagination {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .cards-wrapper {
    gap: 30px;
    padding-left: 90px;
  }
}
@media screen and (max-width: 480px) {
  .cards-wrapper {
    padding-left: 70px;
  }
}
